<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Persons</title>
    <link rel="stylesheet" href="/static/todoList.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="todo-container">
      <h2>Persons</h2>
      <div class="todo">
        <form action="/api/create" method="POST" class="todo-header">
          <input type="text" name="name" />
          <!-- <button type="submit"><span class="fas fa-plus"></span></button> -->
          <button type="submit"><span>Create</span></button>
        </form>
        <ul class="todo-list">
          <% persons.forEach(details => { %>
          <li class="todo-list-item">
            <div class="todo-list-item-name"><%= details.name %></div>
            <a href="/api/update/<%= details._id %>" class="edit">
              <!-- <span class="fas fa-edit"></span> -->
              <span>Update</span>
            </a>
            <a href="/api/delete/<%= details._id %>" class="remove">
              <!-- <span class="fas fa-times"></span> -->
              <span>Delete</span>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
